<%= form_with model: @question, local: true do |f| %>

<div class="form-group">
  <%= f.label :登録する単語 %><br>
  <%= f.text_field :question, class:"form-control" %>
</div>

<div class="form-group">
  <%= f.label :単語の説明 %><br>
  <%= f.text_area :description, class:"form-control" %>
</div>

<div class="form-group form_similar">
  <%= f.label :類義語の登録 %>
  <p class="add-to" id="similar_box">追加<p>
  <%= f.fields_for :question_similars do |i| %>
  <% end %>
</div>


<div>
  <%= f.submit "単語登録", class:"btn btn-primary"%>
</div>


<% end %>

<div>
  <%= link_to "戻る", questions_path%>
</div>