<h1>単語マスタメンテナンス</h1>

<%= form_with url: search_questions_path, method: :get, local: true do |f| %>
  <%= f.text_field :search, placeholder: "検索" %>
  <%= f.submit 'Search' %>
<% end %>

<%= link_to '単語の新規作成', new_question_path %>


<table border="1">
  <tr>
    <th colspan="4">登録されている単語</th>
  </tr>
  <% @questions.each do |question| %>
  <tr>
      <td><%= link_to "#{question.question}", question_path(question.id) %></td>
      <td><%= link_to "修正する", edit_question_path(question.id) %></td>
      <td><%= link_to "削除する", "/questions/#{question.id}", method: :delete %></td>
      <td><%= link_to "登録する", new_question_question_similars_path(question) %></td>
  </tr>
  <% end %>
</table>


<div>
  <%= link_to 'メニューに戻る', root_path %>
</div>


