<h3>類義語追加</h3>

<%= form_with model: @similar, url: question_question_similars_path, local: true do |f| %>

<div class="form-group">
  <div class="similar_add">
    <%= f.label :類義語登録 %><br>
    <%= f.text_field :similar_word, class:"form-control" %>
  </div>
</div>

<div class="form-group">
  <%= f.submit "類義語登録", class:"btn btn-primary"%>
</div>

<% end %>

<div class="form-group">
  <%= link_to "戻る", questions_path %>
</div>