<h1>類義語追加</h1>

<%= form_with model: @similar, url: question_question_similars_path, local: true do |f| %>

<div>
  <%= f.label :similar_word %>
  <%= f.text_field :similar_word %>
</div>

<div>
  <%= f.submit "類義語登録"%>
</div>

<% end %>

<div>
  <%= link_to "戻る", questions_path %>
</div>