<h1>Main Menu</h1>
<p>下記のメニューよりクリックしてください。</p>

<% if current_user %>
  <%= link_to 'ログアウト', logout_path, method: :delete%><br>
<% else %>
  <%= link_to '新規ユーザー作成', new_test_path%><br>
<% end %>
<%= link_to '単語帳', new_test_path %><br>
<%= link_to 'ランキング', rank_tests_path %><br>
<%= link_to '単語帳マスタメンテナンス', questions_path %><br>
