<h1>単語帳</h1>
<%= form_tag(url_for(:action => 'create'), :remote => true) do %>

<h3>問題</h3>

  <div class="question">
    <%= @question.question %>
  </div>

    <%= hidden_field_tag :correct_question, value: @question.id %>


<h6>[類義語]</h6>

  <% @question.question_similars.each do |similar|%>
    <div calss="similar_word"><%= similar.similar_word%></div>
  <% end %>

<h3>解答</h3>

  <% @descriptions.each do |descript|%>
  <%= radio_button_tag :question, value: descript.id, class: 'radio_answer' %>
  <%= descript.description %><br>
  <% end %>

  <%= submit_tag "送信", class:'form__submit js-submit' %>
<% end %>