<h3>単語帳問題</h3>

<%= form_tag(url_for(:action => 'create'), :remote => true) do %>

<div class="form-group">
  <h5>問題:<span>第<%= session[:answer_num] %>問</span></h5>
  <div class="question">
    <%= @question.question %>
  </div>
  <%= hidden_field_tag :correct_question, value: @question.id %>
</div>

<div class="form-group">
  <h5>類義語</h5>
  <% @question.question_similars.each do |similar|%>
    <div calss="similar_word"><%= similar.similar_word %></div>
  <% end %>
</div>

<div class="form-group">
  <h5>解答</h5>
  <% @description.shuffle.each do |descript|%>
    <%= radio_button_tag :question, value: descript.id, class: 'radio_answer'%>
    <%= descript.description %><br>
  <% end %>
</div>

<div class="form-group">
  <%= submit_tag "解答する", class:'form__submit js-submit btn btn-primary' %>
</div>

<% end %>