<h1>Ranking</h1>

  <% if session[:correct_answer].present?%>
  <p>
  お疲れ様でした!<br>
  あなたの成績は、5問中<%= session[:correct_answer]%>問正解 
  正解率<%= session[:answer_rate]%>%でした
  </p>
  <% end %>

<table>
  <tr>
    <th>順位</th>
    <th>名前</th>
    <th>正解率</th>
  </tr>
  <% @rank.each_with_index do |rank, index|%>
  <tr>
    <td><%= index+1 %>位</td>
    <td><%= rank.name %></td>
    <td><%= rank.highest_rate %>%</td>
  </tr>
  <% end %>
</table>


