<h1>Ranking</h1>

<table class="table">
  <tr>
    <th scope="col">順位</th>
    <th scope="col">名前</th>
    <th scope="col">正解率</th>
  </tr>


  <% rate_array = [] %>
  <% rank_array = [] %>


  <% @rank.each.with_index(1) do |rank, index|%>

    <% if rate_array.last == rank.highest_rate %>
      <% index = rank_array.last %>
    <% else %>
      <% index = rank_array.count + 1 %>
    <% end %>

    <% rate_array << rank.highest_rate %>
    <% rank_array << index %>
    <tr>
      <% if rank.highest_rate.present? %>
          <th class="<%= "current" if current_user == rank %>" scope="row"><%= index %>位</th>
          <td class="<%= "current" if current_user == rank %>"><%= rank.name %></td>
          <td class="<%= "current" if current_user == rank %>"><%= rank.highest_rate %>%</td>
      <% end %>
    </tr>
  <% end %>
</table>

<div>
  <%= link_to "メインメニューもどる", root_path %>
</div>




